<div class="container">
  <h3>YOUR COACH 🚀</h3>
  <div class="search flex" >
    <div class="grey-block"></div>
    <div class="input">
      <p><%= @search %></p>
      <p>– You</p>
    </div>
  </div>

  <div class="answer flex">
    <div class="grey-block"></div>
    <div class="coach">
      <p><%= @answer %></p>
      <p>– Your Coach</p>
    </div>
  </div>

  <p><%= link_to "Ask another question", ask_path %></p>
</div>
